body {
    margin: 0;
    padding: 0;
    background: url('../Img/MarbleBackground.jpg');
    background-size: cover;
    font-family: Georgia;
}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: 35%;
    position: absolute;
   
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(235, 200, 200);
    padding-bottom: 20px;
}

.Lblmail, .LblPassword{
  
    font-weight: bold;
    color: #fff;
    font-size:15px;
}

.Txtmail, .TxtPassword, .Btnlogin,.labelsign {
    width: 100%;
    margin-bottom: 20px;
   
}

.Txtmail, .TxtPassword {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    padding-top:20px;

    color: #fff;
    font-size: 15px;
    
    background-color: transparent;
}





placeholder {
    color: rgba(255,255,255,.5);
}

.Btnlogin {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: rgb(235, 200, 200);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
    .Btnlogin:hover {
        background-color: rgb(113, 182, 228);
    }
.LinkForgot{
    font-size:12px;
    font-weight:700;
    text-decoration:none;
    color:#fff;

}
.LinkForgot:hover{
    text-decoration:underline;
}

.linksignup {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(235, 200, 200) !important;
}
.labelsign{
    color:grey;
    font-weight:normal;
   text-align:center;

}
.validator {
    color: red;
}